*.pt
*.mp4
*.avi
*.mkv
*.mov
*_annotated_temp.mp4

# Flask uploads and outputs
uploads/
outputs/

# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# IDE
.vscode/
.idea/
input/행동패턴_상황연출_20251111_15시55분~18시10분_일산그라체(admin)/행동패턴_상황연출_251111_1117.smi
*.smi
*.zip
